<li class="py-3 sm:py-4">
    <div class="flex items-center">
        <div class="flex-shrink-0">
            <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-1.jpg" alt="Neil image">
        </div>
        <div class="flex-1 min-w-0 ms-4">
            <p class="text-sm font-medium text-black-900 truncate">
                {{usuario.id}} - {{usuario.username}}
            </p>
            <p class="text-sm text-gray-500 truncate">
                {{usuario.apellido}} - {{usuario.nombre}} - {{usuario.estado}},
                {{usuario.pais}}
            </p>
        </div>
    </div>
</li>