<nav class="bg-gray-800">
    <div class="max-w-full ml-0 px-2 sm:px-6 lg:px-8">
        <div class="relative flex z-40 items-center justify-between h-16">

            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div (click)="router.navigate(['/'])" class="flex flex-shrink-0 items-center hover:cursor-pointer">
                    <p class="text-white text-2xl ml-4 font-bold"><img class="w-1/3" src="https://svgur.com/i/10M4.svg" alt="SMatcher">  </p>
                </div>
            </div>

            <div class="mr-4">
                <app-user></app-user>
            </div>

        </div>
    </div>
</nav>
