<nav class="bg-gray-800">
    <div class="max-w-full ml-0 px-2 sm:px-6 lg:px-8">
        <div class="relative flex z-40 items-center justify-between h-16">

            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div (click)="router.navigate(['/'])" class="flex flex-shrink-0 items-center hover:cursor-pointer">
                    <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=lime&shade=500"
                        alt="SMatcher">
                    <p class="text-white text-2xl ml-4 font-bold">SMatcher/p>
                </div>
            </div>

            <div class="mr-4">
                <app-user></app-user>
            </div>

        </div>
    </div>
</nav>
