<div id="card" class="rounded p-4 shadow-md bg-slate-50 border border-lime-100 items-center justify-center">
    <div id="cardtitle" class="mb-4">
        <div class="bg-lime-200 text-lime-800 text-xl font-semibold p-3 rounded-t">
            <p>Salteños unidos</p>
        </div>
    </div>
    <div id="cardcontent" class="flex flex-row gap-6">
        <div id="cardheader" class="flex flex-col place-items-center gap-2">
            <div id="cardmainheader" class="text-center rounded-2xl outline p-2 text-lime-500">
                <p>4/20</p>
            </div>
            <p class="font-mono text-xs">
                Miembros
            </p>
        </div>
        <div id="cardbody" class="flex flex-col items-end font-mono">
            <div>
                <p>
                    Futbol 5
                    <i class="fa-regular fa-futbol"></i>
                </p>
            </div>
            <div>
                <p>
                    Salto, Uruguay
                    <i class="fa-solid fa-location-dot"></i>
                </p>
            </div>
        </div>
        <div id="cardfooter" class="flex flex-row justify-center">
            <div>
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border-blue-700 rounded">Unirse</button>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="bg-white rounded-lg shadow-lg max-w-sm">
    <div class="px-6 py-4">
        <div id="cardheader" class="flex flex-col place-items-center gap-2">
            <div class="text-lime-800 text-xl font-semibold p-3 rounded-t">Comunidad de Salteños</div>
            <div id="cardmainheader" class="text-center rounded-2xl outline p-2 text-lime-500">
                <p>4/20</p>
            </div>
            <p class="font-mono text-xs">
                Miembros
            </p>
        </div>
        <p class="text-gray-700 text-base">
            Unete a la comunidad más activa de Salto.
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <button
            class="bg-blue-200 hover:bg-blue-400 text-blue-800 font-bold py-2 px-4 rounded inline-flex items-center">
            Ver
        </button>
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center mb-2">
            Unirse
        </button>
    </div>
</div>