<button (click)="toggleSidebar()" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 my-2 ms-3 text-sm text-gray-100 rounded-lg sm:hidden bg-gray-700 hover:bg-gray-900 focus:outline-none focus:ring-2 focus:ring-gray-600">
  <span class="sr-only">Open sidebar</span>
  <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
  </svg>
</button>
<aside *ngIf="!isSidebarHidden" id="default-sidebar" [ngClass]="{'-translate-x-full': isSidebarHidden}" class="sm:h-screen transition-transform sm:translate-x-0 border-t-2 sm:border-t-0 sm:border-r-2 border-gray-300"> <!-- Set height to 100% -->
  <div class="h-fit px-3 py-3 bg-slate-50 overflow-y-auto">
    <ul class="font-medium gap-2 flex flex-col">
      <app-sidebar-item [label]="'Dashboard'" [url]="'/admin/home'"></app-sidebar-item>
      <app-sidebar-item [label]="'Usuarios'" [url]="'/admin/usuarios'"></app-sidebar-item>
      <app-sidebar-item [label]="'Comunidades'" [url]="'/admin/comunidades'"></app-sidebar-item>
      <app-sidebar-item [label]="'Partidos'" [url]="'/admin/partidos'"></app-sidebar-item>
      <app-sidebar-item [label]="'Canchas'" [url]="'/admin/canchas'"></app-sidebar-item></ul>
  </div>
</aside>

