<header class="my-8">
  <div class="text-center">
    <p class="font-extrabold font-sans text-4xl text-lime-500">
      Partidos
    </p>
    <a routerLink="/player/partidos/new" class="text-lime-500 hover:text-lime-700 transition-all">¿Agregar un partido?</a>
  </div>
</header>
<div class="grid grid-cols-2 justify-center m-4 rounded-3xl bg-slate-50 outline outline-1 outline-slate-400">
  <div class="text-white cursor-pointer transition-colors duration-300 select-none flex justify-center items-center rounded-3xl rounded-r-none"
  [class]="isMisPartidosSelected ? 'bg-green-600' : 'bg-slate-300'"
       (click)="toggleSelection('misPartidos')">
    <span class="text-center w-full py-4">Mis partidos</span>
  </div>
  <div class="text-white cursor-pointer transition-colors duration-300 select-none flex justify-center items-center rounded-3xl rounded-l-none"
       [class]="!isMisPartidosSelected ? 'bg-green-600' : 'bg-slate-300'"
       (click)="toggleSelection('buscarPartidos')">
    <span class="text-center w-full py-4">Buscar partidos</span>
  </div>
</div>

<div *ngIf="isMisPartidosSelected; else buscarPartidosContent">
  <app-partidos></app-partidos>
</div>

<ng-template #buscarPartidosContent>
  <app-partidos-search></app-partidos-search>
</ng-template>


<!--
  Si terminamos con paginación
  <footer class="my-4 flex flex-row justify-center">
    <div class="flex flex-row justify-center items-center gap-4 p-4">
      <button class="rounded-3xl flex flex-row justify-center items-center p-4 outline outline-slate-300 bg-slate-50 text-slate-600">
        <i class="fa-solid fa-angle-left"></i>
      </button>
      <div class="rounded-3xl flex flex-row justify-center items-center h-8 w-8 outline outline-slate-300 bg-slate-50 text-slate-600">
        <p>1</p>
      </div>
      <button class="rounded-3xl flex flex-row justify-center items-center p-4 outline outline-slate-300 bg-slate-50 text-slate-600">
        <i class="fa-solid fa-angle-right"></i>
      </button>
    </div>
  </footer>
-->
