<li class="py-3 sm:py-4">
  <div class="flex items-center space-x-4 rtl:space-x-reverse">
    <div class="flex-shrink-0">
      <img class="w-8 h-8 rounded-full" src="https://picsum.photos/300" alt="Foto">
    </div>
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium text-gray-900 truncate">
        Id: {{cancha.id}} - {{cancha.nombre}}
      </p>
    </div>
    <button *ngIf="cancha.aprobada" (click)="deleteCancha()" type="button"
      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
      Eliminar
    </button>
    <div *ngIf="!cancha.aprobada">
      Esperando aprobación...
    </div>
  </div>
</li>