<li class="py-3 sm:py-4">
    <div id="card" class="rounded p-4 shadow-md bg-slate-50 border border-lime-100 items-center justify-center gap-6">
        <div id="cardtitle" class="rounded p-4 items-center justify-center gap-6">
            <h2>{{comunidad.nombre}}</h2>
            <div *ngIf="comunidad.descripcion" id="cardbody" class="flex flex-col items-end font-mono">
                <div>
                    <p>
                        {{comunidad.descripcion}}
                        <i class="fa-regular fa-calendar"></i>
                    </p>
                </div>
            </div>
        </div>
        <div id="cardbody" class="flex flex-row items-center justify-center gap-6">
            <div id="cardheader" class="flex flex-col place-items-center gap-2">
                <div id="cardmainheader" class="text-center rounded-2xl outline p-2 text-lime-500">
                    <p>{{comunidad.cantidadMiembros}}/{{comunidad.maximoMiembros}}</p>
                </div>
            </div>
            <div id="cardfooter" class="flex flex-row justify-center">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border-blue-700 rounded"
                    (click)="this.joinToComunidad()">Unirse</button>
            </div>
        </div>
    </div>
</li>